body {
    padding-bottom: 500px;
}

/*Flexbox*/

.flexbox {
    display: flex;
    background-color: blueviolet;
    color: yellow;
    margin-bottom: 30px;
}

/*Flex Direction*/
.flex-direction {
    display: flex;
    flex-direction: column;
    background-color: rgb(43, 70, 226);
}

/*Flex Wrap*/
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.caixa {
    height: 50px;
    width: 33%;
    border: 2px solid rgb(160, 8, 8);
}

/*Flex Justify-Content*/
.center, .space-around, .space-between, .end {
    display: flex;
    margin-bottom: 30px;
}

.center .caixa, .space-around .caixa, .space-between .caixa, .end .caixa {
    width: 60px;
}

.center {
    justify-content: center;
}
.space-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}
.end {
    justify-content: end;
}

/* Align-Items*/
.align-items, .flex-end, .stretch {
    display: flex;
    height: 200px;
    margin-bottom: 30px;
    border: 3px solid rgb(56, 160, 8);
}

.align-items .caixa, .flex-end .caixa, .stretch .caixa {
    width: 60px;
}

.align-items {
    align-items: center;
    justify-content: center;
}

.flex-end {
    align-items: flex-end;
}

.stretch {
    align-items: stretch;
}

.stretch .caixa {
    height: auto;
}

/* Gap*/
.gap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid rgb(225, 52, 17);
    gap: 40px;    
}

.gap .caixa {
    width: 32%;
}

/*Order*/
.order {
    display: flex;
}

#a {
    order: 1;
}
#b {
    order: 2;
}
#c {
    order: 3;
}

/*Grow*/
.grow {
    display: flex;
}
.grow .caixa {
    flex: 1;
}

.grow .maior {
    flex: 2;
}

/* flex basis */

.flex-basis {
    display: flex;
}
.flex-basis .caixa {
    flex-basis: 50px;
}
.flex-basis .maior {
    flex-grow: 1;
}

/*Flex-shrink*/ 
.flex-shrink{
    display: flex;
}
 
.flex-shrink .caixa{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    width: auto;
}
 
.flex-shrink .maior{
    flex-shrink: 2;
}
 
/*Flex Shorthand*/
 
.shorthand{
    display: flex;
}
 
.shorthand .caixa{
    width: auto;
    flex:1 1 50px; /* 1 de grow, 1 de shink e 50px de basis*/ ;
}
 
.shorthand .diferenciada{
    flex: 4 1 300px;
}
 
/*Align-self*/
 
.align-self{
    height: 400px;
    display: flex;
    align-items: center;
    border: 2px solid blue;
}
 
.align-self .diferenciada{
   align-self: flex-end;
}
 
.align-self .diferenciada2{
    align-self: flex-start;
}
 